@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

$dark: #555;
$color--primary: #45a4db;

.transition {
    transition: all .4s ease-in-out;
 }

select {
    display: inline;  
    border: 0;
    width: auto;
    padding: 0px 10px;
    outline: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 2px solid $dark;
    color: $color--primary;
    background-color: white;
    transition: all .4s ease-in-out;
    
    &:hover {
      cursor: pointer;    
    }
    
    option {
      border: 0;
      background-color: white;
      border-bottom: 0px solid $dark;
      margin: 5px;
      font-size: 1rem;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }